[submodule "dep/glm"]
	path = dep/glm
	url = https://github.com/g-truc/glm.git
[submodule "dep/glfw"]
	path = dep/glfw
	url = https://github.com/glfw/glfw.git
[submodule "cmake/thirdparty/googletest"]
	path = cmake/thirdparty/googletest
	url = https://github.com/google/googletest.git
[submodule "dep/stb"]
	path = dep/stb
	url = https://github.com/nothings/stb.git
[submodule "dep/tinyply"]
	path = dep/tinyply
	url = https://github.com/syoyo/tinyobjloader.git
[submodule "dep/imgui"]
	path = dep/imgui
	url = https://github.com/albrecht-flo/imgui.git
	branch = custom/AddedBasicTextureSupportForVulkan
[submodule "dep/tinyobjloader"]
	path = dep/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader.git
[submodule "dep/stb"]
	path = dep/stb
	url = https://github.com/nothings/stb.git
[submodule "dep/entt"]
	path = dep/entt
	url = https://github.com/skypjack/entt.git
[submodule "dep/spdlog"]
	path = dep/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule ".\\dep\\VulkanMemoryAllocator"]
	path = .\\dep\\VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule ".\\dep\\ImGuiFileDialog"]
	path = .\\dep\\ImGuiFileDialog
	url = git@github.com:aiekick/ImGuiFileDialog.git
[submodule ".\\dep\\nativefiledialog-extended"]
	path = .\\dep\\nativefiledialog-extended
	url = git@github.com:btzy/nativefiledialog-extended.git
